html {
	background-color: rgb(255, 255, 255);
}
.mini {
	position: fixed;
	display: flex;
	width: auto;
	bottom: 30px;
	right: 30px;
}

.mini a {
	text-decoration: none;
	height: fit-content;
	width: fit-content;
}

.mini img {
	max-width: 140px;
	height: auto;
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.75s;
	-webkit-animation-delay: 2s;
}

.presentation-text {
	position: relative;
	transform: translate(-10%, 50%);
	color: black;
	-webkit-animation-name: show-message;
	-webkit-animation-duration: 3s;
}

.presentation-text:hover {
	color: black;
}

.header-container {
	background-color: #f2b54c;
}

.carousel-indicators .active {
	background-color: #f2b54c;
}

.carousel-indicators li {
	background-color: #f2b54ca2;
}

.white {
	color: white !important;
}

.chat-container {
	display: block;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 380px;
	box-shadow: -5px 5px 15px grey;
	z-index: 9999;
}

.header-image {
	max-width: 40px;
	height: auto;
}

.messages-container {
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	height: 420px;
	background-color: #e6e6e6;
	overflow-y: auto;
}

.message {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	max-width: 80%;
	height: fit-content;
}

.message-sent {
	background-color: #e6d96d;
	margin-left: auto;
	word-wrap: break-word;
	overflow-x: auto;
}

.message-recived {
	background-color: white;
	margin-right: auto;
}

.conversation-message {
	font-size: 14px;
}

.recomendations-container {
	overflow-x: hide;
	display: flex;
	grid-auto-rows: minmax(min-content, max-content);
	background-color: white;
	border-bottom: 3px solid #f2b54c;
	height: 7vh;
}

.recomendation-button {
	margin: 5px;
}

.form-input {
	border: 0px;
	border-radius: 0px;
	height: 5vh;
}

.send-button {
	display: inline-block;
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	background-color: white;
	cursor: pointer;
	height: 5vh;
	color: #f2b54c;
}

.send-button:hover {
	color: #d19c40;
}

.yellow-button {
	color: #f2b54c;
	border-color: #f2b54c;
	margin: 5px;
}

.yellow-button:hover {
	color: #fff;
	background-color: #d19c40;
	border-color: #d19c40;
}

.yellow-button-card {
	background-color: #f2b54c;
	border-color: #f2b54c;
	margin: 5px;
}

.yellow-button-card:hover {
	background-color: #d19c40;
	border-color: #d19c40;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(141, 141, 141, 0.247);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(141, 141, 141, 0.562);
}

@media only screen and (max-width: 600px) {
	.chat-container {
		width: 100vw;
	}

	.header-container {
		height: 10vh;
	}

	.messages-container {
		height: 75vh;
	}

	.recomendations-container {
		height: 8vh;
	}

	.form-input {
		height: 7vh;
	}

	.send-button {
		height: 7vh;
	}
}

@media screen and (max-device-height: 600px) and (orientation: landscape) {
	.chat-container {
		width: 100vw;
	}

	.header-container {
		height: 15vh;
	}

	.messages-container {
		height: 60vh;
	}

	.recomendations-container {
		height: 15vh;
	}

	.form-input {
		height: 100%;
	}

	.send-button {
		height: 100%;
	}
}

@keyframes shake {
	0% {transform: translate(1px, 1px) rotate(0deg);}
	10% {transform: translate(-1px, -2px) rotate(-1deg);}
	20% {transform: translate(-3px, 0px) rotate(1deg);}
	30% {transform: translate(3px, 2px) rotate(0deg);}
	40% {transform: translate(1px, -1px) rotate(1deg);}
	50% {transform: translate(-1px, 2px) rotate(-1deg);}
	60% {transform: translate(-3px, 1px) rotate(0deg);}
	70% {transform: translate(3px, 1px) rotate(-1deg);}
	80% {transform: translate(-1px, -1px) rotate(1deg);}
	90% {transform: translate(1px, 2px) rotate(0deg);}
	100% {transform: translate(1px, -2px) rotate(-1deg);}
}

@keyframes show-message {
	0%, 45% {opacity: 0;}
	100% {opacity: 1;}
}
